/****************
 Footer Starts
*****************/

#footer {
    background: $black;
    padding: 10px 0 !important;

    p {
        font-family: $primaryFont;
        color: $secondaryColor;
        font-size: 14px;
        margin-top: 20px;
    }
}





/****************
 Footer Ends
*****************/
